{% extends 'base.html' %}

{% block content%}
<h1>Illinois Tech CS 425</h1>
<H3>PROJECT MEMBERS</H3>
<OL>
	<LI>DANIEL KARCZ</LI>
	<LI>JAMES RADECKI</LI>
	<LI>JASON FETZER</LI>
</OL>

<h3>PROJECT RESPONSIBILITIES</h3>
<P>The project is built using Python Django Framework and Boostrap, with Oracle driving the application.  Each member contributed separately to all phases of our project.  Daniel was team lead, doing data, web scraping, ER model, and helping connect database models.  James did SQL scripts on localhosts for connections and helped with web app.  Jason built out web app and options in preparation for connection to Oracle Database. </P>
{% endblock%}